a.social {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    background: no-repeat;

    -webkit-background-clip: initial;
    background-clip: initial;
}

a.social[aria-label="tiktok"] {
    background-image: url("../assets/tiktok.svg");
}
a.social[aria-label="tiktok"]:hover {
    background-image: url("../assets/tiktok-hover.svg");
}

a.social[aria-label="instagram"] {
    background-image: url("../assets/instagram.svg");
}
a.social[aria-label="instagram"]:hover {
    background-image: url("../assets/instagram-hover.svg");
}

a.social[aria-label="twitter"] {
    background-image: url("../assets/twitter.svg");
}
a.social[aria-label="twitter"]:hover {
    background-image: url("../assets/twitter-hover.svg");
}

a.social[aria-label="discord"] {
    background-image: url("../assets/discord.svg");
}
a.social[aria-label="discord"]:hover {
    background-image: url("../assets/discord-hover.svg");
}
